<html>
    <head>
        <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="/css/bootstrap-theme.min.css" type="text/css">
        <link rel="stylesheet" href="/css/styles.css" type="text/css">
        <meta charset="utf-8">
        <title>Shoe Store Finder</title>
    </head>
    <body>
        <h1><a href="/">Shoe Store Finder</a></h1>

        <h2>Existing Stores</h2>
            {% if stores is not empty %}
                {% for store in stores %}
            <ul>
                <li><a href="/store/{{ store.getId }}"><h4>{{ store.getName }}</h4></a><a href="/store/{{store.getId}}/edit"> Edit</a></li>
            </ul>
                {% endfor %}
            {% else %}
            <p>No stores added yet!</p>
            {% endif %}

        <form action="/add_store" method="post">
            <div class="form-group">
            <label name ="enter_store">Enter a store</label>
            <input type="text" name="name" required>
            </div>
            <button type="submit" class="btn btn-info">Add store</button>
        </form>

        <form action="/delete_all" method="post">
            <button type="submit" class="btn btn-danger">Delete All</button>
        </form>
    </body>
</html>
